{% extends defaults.layouts ~ '/basic.twig' %}

{% block title %}
Доступ запрещен
{% endblock %}

{% block container %}
<div class="syserror">
   <strong>Произошла ошибка: страница, на которую вы пытаетесь попасть, недоступна для вас.</strong><br />
   Если вы уверены, что проблема с нашей стороны — сообщите нам об этом!
</div>
{% endblock %}