{% extends defaults.layouts ~ '/basic.twig' %}
{% import defaults.macros ~ '/markup.twig' as markup %}
{% import defaults.macros ~ '/banners.twig' as banners %}

{% block title 'Восстановление пароля' %}

{% block content %}
    <div class="page">
        <div class="main-body-right">
            {{ banners.shop(shopBanners) }}
        </div>

        <div class="main-body-content">
            {{ markup.formRow('N.B.', 'Чтобы сбросить пароль, введите имя пользователя, которое так же является адресом электронной почты, указанным при регистрации.') }}
            
            {% set registerform %}
                <form method="post" name="registerForm">
                    <table class="form-table">
                        <tr>
                            <th width="224px">Почтовый ящик</th>
                            <th width="24px"></th>
                            <th width="224px"></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-wrap">
                                    <input type="text" name="login" />
                                </div>
                            </td>
                            <td></td>
                            <td class="middle">
                                <div class="form-table-hint">
                                    Ваш ящик является вашим именем пользователя
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td colspan="3">
                                <div class="form-table-spacer"></div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td colspan="3">
                                <div class="form-table-spacer"></div>
                            </td>
                        </tr>                        
                    </table>
                
                    {{ markup.submitBlock({'name': 'flush_password', 'value': 'Сбросить пароль'}) }}
                </form>
              
            {% endset %}
            
            {{ markup.formRow('ВОССТАНОВЛЕНИЕ ПАРОЛЯ', registerform) }} 
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}